# Ignorar todo el contenido de estas carpetas excepto .gitkeep
data/*
!data/.gitkeep

src/app

models/final_model/*
!models/final_model/.gitkeep

models/fine_tuned/*
!models/fine_tuned/.gitkeep

models/whisper/*
!models/whisper/.gitkeep

output/lyrics/*
!output/lyrics/.gitkeep

output/original/*
!output/original/.gitkeep

output/stems/*
!output/stems/.gitkeep

songs/*
!songs/.gitkeep

/launch.sh

# Ignorar archivos de entornos virtuales
venv_lyraoke/

src/libs/audio_processing

# Ignorar archivos grandes y temporales (añade estos patrones comunes)
*.py[cod]
*__pycache__/
*.so
*.egg-info/
*.swp
*.bak
*.tmp
*.log
*.cache
.DS_Store